@import "../components/card";
@import "../components/grid";

main {
  div {
    @extend .row;
    justify-content: center;


    article {
      @extend .col;
      @extend .s12;
      @extend .m6;
      @extend .l4;

      border-radius: 10px;
      background-color: rgba(248, 58, 62, 0.5);
      text-align: center;
      margin-top: 2.7%;
      padding: 5px;

    }
  }
}