@import "../components/card";
@import "../components/grid";

.card-place {
  @extend .card;

  width: 90%;
  margin: 40px auto;
}

.text-evening {
  text-align: center;
}

.value {
  color: dodgerblue;
}

span {
  font-weight: bold;
}

.min-value {
  @extend .col;
  @extend .l2;
  text-align: left;
}

.max-value {
  color: #F83A3E;
  @extend .col;
  @extend .l2;
  text-align: right;
}

.value {
  @extend .col;
  @extend .l8;
  text-align: center;
}

.main-progress {
  @extend .row;
}

.progress-bar {
  @extend .col;
  @extend .l12;
  height: 50px;
}