@import "../components/grid";
@import "../components/title";
@import "../components/card";
@import "../components/button";

.title {
  @extend .title;
}

.card {
  @extend .card;
  text-align: center;

  margin-bottom: 40px;
}

.card-ticket {
  @extend .row;
  @extend .card;
  background-color: rgba(248, 58, 62, 0.5);;

  .title-ticket {
    @extend .col;
    @extend .s12;
    @extend .m12;
    @extend .l12;
    @extend .xl12;
  }

  .personal-information {
    @extend .col;
    @extend .s12;
    @extend .m5;
    @extend .offset-m1;
    @extend .l4;
    @extend .xl4;
  }

  .ticket-information {
    @extend .col;
    @extend .s12;
    @extend .m5;
    @extend .offset-m1;
    @extend .l4;
    @extend .xl4;
  }

  .ticket-time {
    @extend .col;
    @extend .s12;
    @extend .m5;
    @extend .offset-m4;
    @extend .l4;
    @extend .xl4;
  }
}

main {
  width: 80%;
  margin: 0 auto;
}