@import "../components/card";
@import "../components/grid";
@import "../components/title";
@import "../components/button";

.text-account {
  @extend .title;
}

.card-account {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 40px auto;

  .card-account-details {
    @extend .card;

    .title {
      text-align: center;
    }
  }

  .card-account-last-commande {
    @extend .card;
    text-align: center;

    .title {
      text-align: center;
    }

    img {
      width: 100%;
      max-width: 300px;
    }
  }

  .button-back-office {
    @extend .button-green;
  }
}

