@import "../components/card";
@import "../components/button";
@import "../components/title";

.card-login {
  @extend .card;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
  margin: 40px auto;

  & > * {
    margin-bottom: 40px;
  }
}


.input-login {
  height: 25px;
  border-radius: 5px;
  padding: 4px 15px;
  border: none;
}

.button-connexion {
  @extend .button-red;
}