@import "../components/badge";
@import "../components/card";
@import "../components/button";
@import "../components/show";
@import "../components/title";

main {
  h1:after {
    width: 13%;
    top: 50px;
  }

}
