@import "../components/badge";
@import "../components/card";
@import "../components/button";
@import "../components/show";
@import "../components/title";

main {
  h1:after {
    width: 13%;
    top: 50px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;




    li {

      a {
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 10px;
        border-bottom: 1px solid rgba(248, 58, 62, 0.5);
        margin: 5px 20px;

        &:hover {
          background-color: rgba(248, 58, 62, 0.5);
          color: white;
          border-radius: 10px;
        }

        &:active {
          background-color: rgba(248, 58, 62, 0.5);
        }
      }
    }
  }

  .badges-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: auto;

    @media screen and (max-width:600px) {
      flex-direction: column;

    }

    .badge {
      cursor: pointer;
      justify-content: center;
      max-width: 8em;


      &:hover {
        background-color: rgba(248, 58, 62, 0.5);
        transition: 0.5s;
      }

      &:not(:hover) {
        transition: 0.5s;

        img {
          color: white;
        }
      }


    }
  }

}
