@import "../components/title";
@import "../components/card";
@import "../components/button";


main {

  & > .eveningDescription {
    width: 80%;

    @media screen and (max-width: 600px) {
        width: 90%;
    }
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2.7%;

    & > article:first-child {
      grid-column: 1 / 7;
      text-align: right;
      border-right: 4px solid rgb(248, 58, 62);
      text-transform: uppercase;
      padding-right: 20px;

      p {
        font-weight: 600;
        color: black;
        z-index: 1;
      }

      .underline {
        position: relative;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 90%;
          background-color: rgba(248, 58, 62, 0.5);
          z-index: -1;
        }
      }

    }


    & > article:nth-child(2) {
      grid-column: 7 / 13;
      text-align: left;
    }
  }


  & > .book {
    display: flex;
    justify-content: center;
    margin: 100px auto;

    a {
        text-decoration: none;
    }
  }

  .show {
    width: 90%;

    @media screen and (max-width: 600px) {
      width: 100%;
      margin: 50px auto;
      padding: initial;
      border-top: 4px solid rgb(248, 58, 62);
    }

    margin: 100px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2.7%;

    & > .showDescription {

      @media screen and (max-width: 600px) {
        grid-column: 1/13;
        padding-right: 0;
      }

      @media screen and (min-width: 600px) {
        grid-column: 1/6;

      }

    }

    & > .video {
      @media screen and (max-width: 600px) {
        grid-column: 1 / 13;
        margin-top: 50px;
      }

      @media screen and (min-width: 600px) {
        grid-column: 7 / 13;

      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .list_shows {
    width: 70%;
    margin: auto;

    .show {
      .showDescription {

        @media screen and (min-width: 601px) {
          border-right: 4px solid rgb(248, 58, 62);
          padding-right: 30px;

        }

        h2 {
          text-transform: uppercase;
          color: rgb(248, 58, 62);
        }

        p:first-of-type {
          color: #fd4882;
          font-weight: 600;
        }
      }

      .description {
        margin-top: 50px;
      }
    }
  }
}