.badges-list {
  display: flex;
  justify-content: center;
}
.badges-list .badge {
  border: 3px solid #F83A3E;
  border-radius: 40px;
  display: flex;
  font-weight: bold;
  align-items: center;
  margin: 20px;
  padding: 0 40px;
}
.badges-list .badge img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

header nav {
  height: 350px;
}
header nav > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  max-height: 350px;
}
header nav ul {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  top: 10px;
  left: 0;
  list-style-type: none;
  align-items: center;
}
header nav ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
header nav ul a:hover {
  background-color: #EDEAEA;
  border-radius: 20px;
  padding: 3px 10px;
  color: black;
  transition: 0.5s;
}
header nav ul a:active {
  background-color: #EDEAEA;
  border-radius: 20px;
  padding: 3px 10px;
  color: black;
}
header nav ul a:not(:hover) {
  transition: 0.5s;
}
header nav ul li:first-child {
  grid-column: 1/3;
}
header nav ul li:first-child:hover {
  transform: scale(1.2);
  translate: 20px;
  transition: 0.3s;
}
header nav ul li:first-child:not(:hover) {
  transition: 0.3s;
}
header nav ul li:first-child img {
  width: 70%;
  margin-left: 10px;
  margin-top: 10px;
}
header nav ul li:nth-child(2) {
  grid-column: 4/6;
  text-align: center;
}
header nav ul li:nth-child(3) {
  grid-column: 6/8;
  text-align: center;
}
header nav ul li:nth-child(4) {
  grid-column: 8/10;
  text-align: center;
}
header nav ul li:nth-child(5) {
  grid-column: 11/13;
  text-align: center;
}

.card {
  background-color: #EDEAEA;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 5px #cccccc;
  padding: 20px;
}

.button, .button-green, .button-red {
  padding: 8px 50px;
  border: 1px solid #999999;
  border-radius: 5px;
  text-align: center;
}
.button:hover, .button-green:hover, .button-red:hover {
  cursor: pointer;
}

.button-green, .button-red {
  background-color: #21D954;
  box-shadow: 0px 0px 14px 5px #cccccc;
  color: white;
}
.button-green:active, .button-red:active {
  background-color: #4ae374;
}

.button-red {
  background-color: #F83A3E;
  color: white;
}
.button-red:active {
  background-color: #fa6b6e;
}

footer {
  position: absolute;
  background-color: #F83A3E;
  left: 0;
  width: 100%;
}
footer nav {
  padding-top: 15px;
  padding-bottom: 15px;
}
footer nav ul {
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  align-self: center;
}
footer nav ul a {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}
footer nav ul a:hover {
  text-decoration-color: rgb(255, 255, 255);
  transition: 0.5s;
}
footer nav ul li:first-child {
  grid-column: 1/5;
}
footer nav ul li:nth-child(2) {
  grid-column: 5/9;
}
footer nav ul li:nth-child(3) {
  grid-column: 9/13;
}

.row, .article-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.col, .article-list article {
  margin-left: 2.7%;
  box-sizing: border-box;
}

@media screen and (max-width: 300px) {
  .s1 {
    flex-basis: 5.4083333333%;
  }
  .offset-s1 {
    margin-left: 10.8083333333%;
  }
  .s2 {
    flex-basis: 13.5166666667%;
  }
  .offset-s2 {
    margin-left: 18.9166666667%;
  }
  .s3 {
    flex-basis: 21.625%;
  }
  .offset-s3 {
    margin-left: 27.025%;
  }
  .s4 {
    flex-basis: 29.7333333333%;
  }
  .offset-s4 {
    margin-left: 35.1333333333%;
  }
  .s5 {
    flex-basis: 37.8416666667%;
  }
  .offset-s5 {
    margin-left: 43.2416666667%;
  }
  .s6, .article-list article {
    flex-basis: 45.95%;
  }
  .offset-s6 {
    margin-left: 51.35%;
  }
  .s7 {
    flex-basis: 54.0583333333%;
  }
  .offset-s7 {
    margin-left: 59.4583333333%;
  }
  .s8 {
    flex-basis: 62.1666666667%;
  }
  .offset-s8 {
    margin-left: 67.5666666667%;
  }
  .s9 {
    flex-basis: 70.275%;
  }
  .offset-s9 {
    margin-left: 75.675%;
  }
  .s10 {
    flex-basis: 78.3833333333%;
  }
  .offset-s10 {
    margin-left: 83.7833333333%;
  }
  .s11 {
    flex-basis: 86.4916666667%;
  }
  .offset-s11 {
    margin-left: 91.8916666667%;
  }
  .s12 {
    flex-basis: 94.6%;
  }
  .offset-s12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 301px) and (max-width: 600px) {
  .m1 {
    flex-basis: 5.4083333333%;
  }
  .m2 {
    flex-basis: 13.5166666667%;
  }
  .m3 {
    flex-basis: 21.625%;
  }
  .m4, .article-list article {
    flex-basis: 29.7333333333%;
  }
  .m5 {
    flex-basis: 37.8416666667%;
  }
  .m6 {
    flex-basis: 45.95%;
  }
  .m7 {
    flex-basis: 54.0583333333%;
  }
  .m8 {
    flex-basis: 62.1666666667%;
  }
  .m9 {
    flex-basis: 70.275%;
  }
  .m10 {
    flex-basis: 78.3833333333%;
  }
  .m11 {
    flex-basis: 86.4916666667%;
  }
  .m12 {
    flex-basis: 94.6%;
  }
}
@media screen and (min-width: 601px) {
  .l1 {
    flex-basis: 5.4083333333%;
  }
  .l2 {
    flex-basis: 13.5166666667%;
  }
  .l3, .article-list article {
    flex-basis: 21.625%;
  }
  .l4 {
    flex-basis: 29.7333333333%;
  }
  .l5 {
    flex-basis: 37.8416666667%;
  }
  .l6 {
    flex-basis: 45.95%;
  }
  .l7 {
    flex-basis: 54.0583333333%;
  }
  .l8 {
    flex-basis: 62.1666666667%;
  }
  .l9 {
    flex-basis: 70.275%;
  }
  .l10 {
    flex-basis: 78.3833333333%;
  }
  .l11 {
    flex-basis: 86.4916666667%;
  }
  .l12 {
    flex-basis: 94.6%;
  }
}
.article-list {
  margin-top: 20px;
  justify-content: center;
}
.article-list article {
  position: relative;
  margin-top: 2.7%;
}
.article-list article .article-content {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
}

h1 {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}
h1:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  border-bottom: 3px solid black;
  width: 13%;
}

/*# sourceMappingURL=list_show.css.map */
