@import "grid";

.article-list {
  margin-top: 20px;
  @extend .row;
  justify-content: center;

  article {
    position: relative;
    margin-top: 2.7%;
    @extend .col;
    @extend .s6;
    @extend .m4;
    @extend .l3;

    .article-content {
      position: absolute;
      top: 10px;
      left: 20px;
      color: white;
    }
  }
}