.error {
  background-color: #F83A3E;
    color: #fff;
    border-color: #F83A3E;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    width: 100%;
    display: block;
    transition: all 0.4s ease-in-out;

  &:hover {
    background-color: #fff;
    color: #F83A3E;
    border-color: #F83A3E;
    cursor: pointer;
  }
}