@import "grid";
@import "../components/card_show";

.article-list {
  margin-top: 20px;
  margin-bottom: 40px;
  @extend .row;
  justify-content: center;

  article {
    position: relative;
    margin-top: 2.7%;
    @extend .col;
    @extend .s12;
    @extend .m6;
    @extend .l4;
    @extend .xl3;
    @extend .card-show;
    overflow: hidden;

    .article-content {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 5px;
      border-radius: 10px;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}