h1 {
  position: relative;
  text-align: center;
  margin-bottom: 50px;

  &:after {
    content:"";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 3px solid #F83A3E;
    width: 13%;
    top: 50px;
  }

}